<div class="fixed-top">
  <div class="menu">
    <div class="container">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/" routerLinkActive="active">Produtos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/promocao" routerLinkActive="active">Promocao</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/carrinho" routerLinkActive="active">Carrinho</a>
        </li>
      </ul>
    </div>
  </div>
</div>