<div class="border border-primary colMargin">
  <div class="row">
    <div class="col colMargin">

      <h4>Tipo Promoção:</h4>

      <form (ngSubmit)="salvarPromocao()" [formGroup]="formulario">

        <label for="sel1">Selecione a promocao:</label>
        <select class="form-control" id="sel1" #selectValue (change)="filterChanged($event.target.value)">
          <option value="-1" selected disabled hidden>Escolha uma Promoção</option>
          <option *ngFor="let prom of promocoes; let i = index" (click)="onChange($event, i)" [value]="prom.id">
            {{ prom.nome }}</option>
        </select>

        <br> 

        <div class="radio radio-inline form-check-inline">
          <label><input type="radio" name="tipo" formControlName="tipo" value="PRECO" readonly>Preço</label>
        </div>

        <div class="radio radio-inline form-check-inline">
          <label><input type="radio" name="tipo" formControlName="tipo" value="QUANTIDADE" readonly>Quantidade</label>
        </div>


        <div class="nome">
          <label for="nome">Nome Promoção: </label> <br>
          <input type="text" id="nome" class="form-control" formControlName="nome" placeholder="Compre X Pague Y"
            readonly />
        </div>

        <br>

        <div class="qtd">
          <label> Quantidade de Itens </label>
          <input type="number" formControlName="qtdeItens" readonly />
        </div>

        <br>

        <div class="pagar">
          <label> Valor a Pagar ou Qtde de Itens a pagar </label>
          <input type="number" formControlName="valor" readonly />

        </div>
        <br>

        <button type="submit" class="btn btn-primary" [disabled]="formulario.invalid">Salvar</button>
        &nbsp;
        <button type="reset" class="btn btn-danger">Cancelar</button>

      </form>
    </div>
  </div>
</div>