<div class="container top">
  <div class="row">
    <div class="col">
      <form method="PUT" (ngSubmit)="editar()" [formGroup]="formulario">
        <label>Nome: </label>
        <input type="text" id="nome" class="form-control" formControlName="nome" placeholder="Cereal" 
           [ngClass]="{'is-invalid': formulario.get('nome').touched && formulario.get('nome').invalid,
            'is-valid': formulario.get('nome') && formulario.get('nome').valid}" />

        <label>Valor (R$): </label>
        <input id="valor" class="form-control" formControlName="valor" type="number" min="0.01" placeholder="0" step='.01' [ngClass]="{'is-invalid': formulario.get('valor').touched && formulario.get('valor').invalid,
        'is-valid': formulario.get('valor') && formulario.get('valor').valid}" />
        <br>

        <button type="submit" class="btn btn-primary" [disabled]="formulario.invalid"
          [ngClass]="{'is-invalid': formulario.invalid}">Salvar</button>
          
      </form>
    </div>
  </div>

  <div>

    <!-- Inserido com sucesso -->
    <div *ngIf="inseridoSucesso" class="alert alert-success alert-dismissible fade show" role="alert">
      <strong class="d-flex justify-content-center">Produto atualizado com sucesso</strong>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <!--Não inserido -->
    <div *ngIf="!inseridoSucesso && !primeiroAcesso" class="alert alert-danger alert-dismissible fade show"
      role="alert">

      <strong class="d-flex justify-content-center">Produto não foi atualizado. Tente novamente</strong>

      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

  </div>

  <hr>

</div>